tiktoken
sagemaker-ssh-helper==2.2.0
sagemaker==2.232.1
boto3==1.35.24
datasets
kaldialign
openai-whisper
librosa
soundfile
safetensors
transformers
janus
uvicorn
soundfile
tritonclient[grpc]
fastapi
numpy
aiohttp

