tiktoken==0.7.0
sagemaker-ssh-helper==2.2.0
sagemaker==2.232.1
boto3==1.35.24
datasets==3.0.0
kaldialign==0.9.1
openai-whisper==20231117
librosa==0.10.2.post1
soundfile==0.12.1
safetensors==0.4.5
transformers==4.44.2
janus==1.0.0
uvicorn
soundfile
tritonclient[grpc]==2.31
fastapi
numpy
aiohttp

